<div class="example-container mat-elevation-z8">
    <h2>Edit Movie</h2>
   
    <div class="example-card">
      <form [formGroup]="movieForm" (ngSubmit)="onFormSubmit()">
        <div class="example-full-width">
          <label>Title</label>
          <input matInput placeholder="Title" formControlName="title">
          <div>
            <span *ngIf="!movieForm.get('title').valid && movieForm.get('title').touched">Please enter movie title</span>
          </div>
        </div>
        <div class="example-full-width">
          <label>Genre</label>
          <input matInput placeholder="Genre" formControlName="genre">
          <div>
            <span *ngIf="!movieForm.get('genre').valid && movieForm.get('genre').touched">Please enter movie genre</span>
          </div>
        </div>
        <div class="example-full-width">
          <label>Rating</label>
          <input matInput placeholder="Rating" formControlName="rating">
          <div>
            <span *ngIf="!movieForm.get('rating').valid && movieForm.get('rating').touched">Please enter movie rating</span>
          </div>
        </div>
        <div class="example-full-width">
          <label>PosterUrl</label>
          <input placeholder="PosterUrl" formControlName="posterUrl">
          <div>
            <span *ngIf="!movieForm.get('PosterUrl').valid && movieForm.get('posterUrl').touched">Please enter poster Url</span>
          </div>
        </div>
       
        <div class="button-row">
          <button type="submit" [disabled]="!movieForm.valid" mat-flat-button color="primary">save updated movie data</button>
        </div>
      </form>
    </div>
  </div>
